<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Log IN</title>
</head>

<body>
    <nav class=" space-x-12 fixed py-3 bg-black w-full z-10 text-white ">
        <button class="ml-8"><a href="INDEX.ejs"> HOME</a></button>

        <button><a href="availability.ejs"> AVALIBILITY </a></button>
        <button> <a href="userlogin.ejs">LOG IN </a></button>
    </nav>
    <img src="images/bheart.jpeg" alt="" class="blur-2xl  mt-20 h-[45rem] w-full fixed">
    <img src="images/bheart.jpeg" class="fixed mt-40 mx-10 h-[30rem] ml-[45rem]" alt="">
    <form action="">
        <div class="bg-black h-[64rem] ">
            <fieldset
                class=" border-2 absolute mt-40 px-5 font-bold font-mono py-5 rounded-tr-2xl ml-24 h-[20rem] w-[20rem]">

                <legend class="bg-slate-200 rounded-tr-md ml-4 px-5 text-black">Bank Details:</legend>
                <label for="fname">Name:</label>
                <p class="inline">
                    prince's Bank
                </p> <br><br>

                <label for="email">Email:</label>
                <p class="inline">princeninama@gmail.com</p><br><br>
                <label for="email">Mobile No:</label>
                <p class="inline">7490034305</p><br><br>
                <label for="email">State:</label>
                <p class="inline">Ahmedabad</p><br><br>
                <label for="email">Address:</label>
                <p class="inline">gokul duplex naroda Ahmedabad</p>
            </fieldset>





            <fieldset
                class="h-[22rem] ml-24 py-6 px-5 border-2 font-semibold  w-[20rem] mt-[40rem] rounded-br-3xl shadow-2xl absolute">
                <legend class="bg-slate-200 rounded-tr-md ml-4 px-5 text-black">Avalible Blood</legend>

                <table class="border-2 table-fixed w-[20rem]">
                    <tr>
                        <th class="border-2">Blood Group</th>
                        <th class="border-2">
                            No.of Bottle
                        </th>
                    </tr>
                    <tr>
                        <td class="border-2 px-6">
                            A+
                        </td>
                        <td class="border-2">

                        </td>
                    </tr>
                    <tr>
                        <td class="border-2 px-6">
                            A-
                        </td>
                        <td class="border-2">

                        </td>
                    </tr>
                    <tr>
                        <td class="border-2 px-6">
                            B+
                        </td>
                        <td class="border-2">

                        </td>
                    </tr>
                    <tr>
                        <td class="border-2 px-6">
                            B-
                        </td>
                        <td class="border-2">

                        </td>
                    </tr>
                    <tr>
                        <td class="border-2 px-6">
                            AB+
                        </td>
                        <td class="border-2">

                        </td>
                    </tr>
                    <tr>
                        <td class="border-2 px-6">
                            AB-
                        </td>
                        <td class="border-2">

                        </td>
                    </tr>
                    <tr>
                        <td class="border-2 px-6">
                            O+
                        </td>
                        <td class="border-2">

                        </td>
                    </tr>
                    <tr>
                        <td class="border-2 px-6">
                            O-
                        </td>
                        <td class="border-2">

                        </td>
                    </tr>
                    <tr>
                        <td class="border-2 px-14">
                            Total:
                        </td>
                        <td class="border-2">

                        </td>
                    </tr>

                </table>
            </fieldset>
    </form>
</body>

</html>