<!DOCTYPE html>




<head>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Donate blood</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Why donate blood</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .button-wrapper .btn {
            margin: 5px;
        }

        body {
            background-color: #aaa;
            overflow-x: hidden;
        }

        .main {
            height: 100%;
            position: relative;
        }

        h1 {
            font-family: 'roboto', serif;
            font-size: 60px;
            line-height: 1.125;
            margin-bottom: 10px;
            letter-spacing: -3px;
        }



        @media (min-width: 800px) {
            h1 {
                font-size: 80px;
            }
        }

        h3 {
            color: #cc3333;
            font-family: helvetica, sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 0.85;
            margin: 0;
            /*text-transform: uppercase;*/
            border-bottom: 2px solid rgba(0, 0, 0, 0.3);
            padding-bottom: 15px;
            margin-bottom: 35px;
        }

        @media (min-width: 800px) {
            h3 {
                font-size: 23px;
            }
        }

        p {
            font-size: 25px;
            line-height: 28px;
            font-family: georgia, times, serif;
            font-weight: normal;
        }

        .nav {
            display: none;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            list-style: none;
            z-index: 997;
        }

        @media only screen and (min-width: 960px) {
            #floatingSocialShare .top-right-fixed {
                top: 35% !important;
            }
        }

        @media only screen and (min-device-width:0px) and (max-width:961px) {

            #floatingSocialShare .content-left,
            #floatingSocialShare .content-right,
            #floatingSocialShare .top-left,
            #floatingSocialShare .top-right-fixed {

                left: 40px !important;

            }
        }

        @media (min-width: 300px) and (min-height: 520px) {
            .nav {
                display: block;
            }
        }

        .nav:before {
            border-left: 2px solid rgba(255, 255, 255, 0.3);
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            left: 49px;
        }

        .dot-nav {
            list-style: none;
            position: relative;
            z-index: 5;
        }

        .dot-nav a {
            display: inline-block;
            background: #ddd;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            vertical-align: middle;
        }

        .dot-nav a:hover {
            -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
            background-color: #cc3333;
            -webkit-transform: scale(2);
            -ms-transform: scale(2);
            transform: scale(2);
        }

        .dot-nav a.active {
            background-color: #cc3333;
            -webkit-transform: scale(2);
            -ms-transform: scale(2);
            transform: scale(2);
        }

        .dot-nav li {
            margin: 25px 0;
        }

        .dot-nav li span {
            opacity: 0;
            position: fixed;
            vertical-align: middle;
            color: #fff;
            background: #000;
            padding: 2px 7px;
            margin-top: -4px;
            margin-left: 25px;
            border-radius: 4px;
            -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
            font-size: 14px;
        }

        .dot-nav li span b {
            display: block;
            font-size: 18px;
            line-height: 1;
            margin-bottom: 5px;
        }

        .dot-nav li a:hover+span {
            opacity: 1;
        }

        .page-block {
            background-size: cover;
        }

        .content {
            width: 70%;
            margin: 0 auto;
            padding: 3em 0;
            color: #fff;
            box-shadow: #000;
            
        }



        .well {
            background-color: rgba(74, 67, 67, 0.40);
            border: 1px solid #E3E3E3;
            border-radius: 18px;
        }



        #one {
            background: url(images/1.jpg) no-repeat center center fixed;

        }

        #two {
            background: url(images/2.jpeg) no-repeat center center fixed;
        }

        #three {
            background: url(images/3.jpeg) no-repeat center center fixed;
        }

        #four {
            background: url(images/4.jpeg) no-repeat center center fixed;
        }

        #five {
            background: url(images/5.jpeg) no-repeat center center fixed;
        }

        #six {
            background: url(images/6.jpeg) no-repeat center center fixed;
        }

        #seven {
            background: url(images/7.webp) no-repeat center center fixed;
        }

        /* #eight { */
        /* background: url(images/8.webp) no-repeat center center fixed; */
    </style>
    <!-- background.html ends -->






</head>


<body>
    <nav class=" space-x-12  py-3 bg-black text-white ">
        <button class="ml-8">HOME</button>
        <a href="bloodbank.ejs"> <button>ABOUT US</button></a>
        <button><a href="availability.ejs"> AVALIBILITY </a></button>
        <button> <a href="userlogin.ejs">LOG IN </a></button>
        <button><a href="signup.ejs">SIGN UP</a></button>
    </nav>

    <div class="nav">
        <br><br><br><br>
        <ul class="dot-nav">
            <li>
                <a href="#one" scroll-data="one"></a>
                <span><b>Why Donate Blood ?</b>
                    <i>Details</i></span>
            </li>
            <li>
                <a href="#two" scroll-data="two"></a>
                <span><b>Benefits of Donating Blood</b>
                    <i>Details</i></span>
            </li>
            <li>
                <a href="#three" scroll-data="three"></a>
                <span><b>Facts About Blood</b>
                    <i>Details</i></span>
            </li>
            <li>
                <a href="#four" scroll-data="four"></a>
                <span><b>Stats about Blood</b>
                    <i>Details</i></span>
            </li>
            <li>
                <a href="#five" scroll-data="five"></a>
                <span><b>Before You Donate</b>
                    <i>Details</i></span>
            </li>
            <li>
                <a href="#six" scroll-data="six"></a>
                <span><b>Pre Donation Screening</b>
                    <i>Details</i></span>
            </li>
            <li>
                <a href="#seven" scroll-data="seven"></a>
                <span><b>Blood Donation</b>
                    <i>Details</i></span>
            </li>
            <!-- <li>
        <a href="#eight" scroll-data="eight"></a>
        <span><b>Post Donation</b>
          <i>Details</i></span>
      </li> -->
        </ul>
    </div>

    <div class="main" style="text-justify:inter-word">
        <section id="one" data-anchor="one" class="page-block">
            <div class="content">

                <h1>Why Donate Blood</h1>
                <h3><i>Blodd Donation</i></h3>
                <div class="animated slideInUp">
                    <div class="well">
                        <ul>
                            <li>
                                <p># The most precious gift that one can give to
                                    another person is the gift of life i.e. blood. It is the essence of life.</p>
                            </li>
                            <li>
                                <p># Your blood saves more than one life when it is separated into its components (red
                                    blood cells,
                                    plasma etc.).</p>
                            </li>
                            <li>
                                <p># Blood is needed regularly for patients with diseases such as thalassemia and
                                    hemophilia, and also
                                    for the treatment of injuries after an accident, major surgeries, anemia, etc.</p>
                            </li>
                            <li>
                                <p># It improves your health. </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <br><br>

                <br><br><br><br><br>
            </div>
        </section>
        <section id="two" data-anchor="two" class="page-block">
            <div class="content">

                <h1>Benefits of Donating Blood</h1>
                <h3><i>Blodd Donation</i></h3>
                <div class="  animated slideInUp">
                    <div class="well">
                        <ul>
                            <li>
                                <p> <strong>Less likely to suffer diseases</strong></p>
                            </li>
                            <li>
                                <p># Did you know that people who donate blood are 88% less likely to suffer a heart
                                    attack and 33% less
                                    likely to acquire any type of cardiovascular disease.</p>
                            </li>

                            <li>
                                <p># When you donate blood, it removes 225 to 250 milligrams of iron from your body,
                                    hence reducing the
                                    risk of heart disease.</p>
                            </li>

                            <li>
                                <p># Blood Center performs numerous tests on the donated blood. Therefore regular blood
                                    donation helps
                                    in sheilding you from serious diseases.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="three" data-anchor="three" class="page-block">
            <div class="content">
                <h1>Facts About Blood</h1>
                <h3><i>Blodd Donation</i></h3>
                <div class="  animated slideInUp">
                    <div class="well">

                        <ul>
                            <li>
                                <p># One unit of donated blood can save up to three lives.</p>
                            </li>
                            <li>
                                <p># You can donate blood every three months. It only takes 48 hours for your body
                                    fluids to be
                                    completely replenished.</p>
                            </li>
                            <li>
                                <p># Scientists have estimated the volume of blood in the human body
                                    to be eight percent of body weight. </p>
                            </li>
                            <li>
                                <p># There are 100,000 miles of blood vessels in an adult human body.</p>
                            </li>
                            <li>
                                <p># A red blood cell can make a complete circuit of your body in 30
                                    seconds.</p>
                            </li>
                            <li>
                                <p># White blood cells make up about 1% of your blood.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>

                <br><br><br>
            </div>
        </section>
        <section id="four" data-anchor="four" class="page-block">
            <div class="content">
                <h1>Stats about Blood</h1>
                <h3><i>Blodd Donation</i></h3>
                <div class="  animated slideInUp">
                    <div class="well">
                        <p>#According to a 2012 World Health Organisation (WHO) report, only nine million units are
                            collected
                            annually, while the need is for 12 million units.</p>
                        <p># Delhi NCR alone faces a shortage of 100,000 units per year.</p>
                        <p># The shelf-life of donated blood is 35 to 42 days. There is a constant need to replenish
                            stocks in our
                            blood banks.</p>
                        <p># Healthy donors are between the age of 18 to 65 years.</p>
                        <p># Statistics show that there are 234 million major operations in India, 63 million
                            trauma-induced
                            surgeries, 31 million cancer-related procedures and 10 million pregnancy related
                            complications which
                            require blood transfusions.</p>
                    </div>
                </div>
                <br>

                <br><br><br>
            </div>
        </section>
        <section id="five" data-anchor="five" class="page-block">
            <div class="content">
                <h1>Before You Donate</h1>
                <h3><i>Blodd Donation</i></h3>
                <div class="  animated slideInUp">
                    <div class="well">
                        <p># Donating blood is a safe, simple, and rewarding experience that usually takes 30 minutes.
                        </p>
                        <p># To donate blood, find a blood bank near you using Blodd Donation <a
                                href="/BLDAHIMS/bloodbank/nearbyBBRed.cnt"><strong>Nearby Blood Bank
                                    Search</strong></a>.</p>
                        <p># Requirement before Blood Donation is that your weight should be atleast 45 kgs , be at
                            least 18 years
                            old and be healthy in general.</p>
                        <p># If you have any particular health concerns then inform the blood bank at the time of blood
                            donation.
                        </p>
                    </div>
                </div>


                <br><br><br><br><br>
            </div>
        </section>
        <section id="six" data-anchor="six" class="page-block">
            <div class="content">
                <h1>Pre Donation Screening</h1>
                <h3><i>Blodd Donation</i></h3>
                <div class="  animated slideInUp">
                    <div class="well">
                        <p># During pre-donation screening, a blood bank employee will ask you some questions about your
                            health,
                            lifestyle, and disease risk factors. All of this information is confidential.</p>
                        <p># An employee will perform a short health exam, taking your pulse, temperature and blood
                            pressure. A drop
                            of blood from your finger will also be tested to ensure that your blood iron level is
                            sufficient for you
                            to donate.</p>
                        <p># All medical equipment used for this test, as well as during the donation process, is
                            sterile, used only
                            once and then disposed.</p>
                    </div>
                </div>
                <br>

                <br><br><br><br>
            </div>
        </section>
        <section id="seven" data-anchor="seven" class="page-block">
            <div class="content">
                <h1>Blood Donation</h1>
                <h3><i>Blodd Donation</i></h3>
                <div class="  animated slideInUp  ">
                    <div class="well">
                        <p># Once the pre-donation screening is finished, you will proceed to a donor bed where your arm
                            will be
                            cleaned with an antiseptic, and a professional will use a blood donation kit to draw blood
                            from a vein in
                            your arm.</p>
                        <p># If you are allergic to iodine, be sure to tell the phlebotomist at this point.</p>
                        <p># During the donation process, you will donate one unit of blood; this takes about six to ten
                            minutes.
                        </p>
                    </div>
                </div>
                <br>

                <br><br><br><br><br><br>
            </div>
        </section>
        <!-- <section id="eight" data-anchor="eight" class="page-block">
      <div class="content">
        <h1>Post Donation</h1>
        <h3><i>Blodd Donation</i></h3>
        <div class=" animated slideInUp  ">
          <div class="well">
            <p>#Following your donation, you will receive refreshments.</p>
            <p># After donating, it is recommended that you increase your fluid intake for the next 24 to 48 hours;
              avoid strenuous physical exertion, heavy lifting or pulling with the donation arm for about five hours;
              and eat well balanced meals for the next 24 hours.</p>
            <p># Smoking and alcohol consumption is not recommended after donation. Although donors seldom experience
              discomfort after donating, if you feel light-headed, lie down until the feeling passes.</p>
          </div>
        </div>
        <br />

      </div>

    </section> -->
        <br />

    </div>


    <script src="../hisglobal/bbpublic/assets/js/jquery.floating-social-share.min1.js"></script>
    <script>
        $(function () {

            $('.fa-user-md').parent().on('click', function () {


                window.location = "/BLDAHIMS/bloodbank/portalDonorLogin.cnt";
            });
            $('.fa-tint').parent().on('click', function () {
                window.location = "/BLDAHIMS/bloodbank/campSchedule.cnt";


            });

            $('.dot-nav a').on('click', function () {

                var scrollAnchor = $(this).attr('data-scroll'),
                    scrollPoint = $('section[data-anchor="' + scrollAnchor + '"]').offset().top - 28;

                $('.main').animate({
                    scrollTop: scrollPoint
                }, 500);

                return false;

            })


            $("body").on("mouseover", ".tint", function () {
                $(".tint").unbind('click');

                $.messagevar = $('<i>Donate Now</i>');
                //$(".tint").append($.messagevar);
                //$(".tint")
                console.log('event unbind');

            });


        });





        $(window).scroll(function () {
            var windscroll = $(window).scrollTop();
            if (windscroll >= 100) {
                $('.dot-nav').addClass('fixed');
                $('.main section').each(function (i) {
                    if ($(this).position().top <= windscroll) {
                        $('.dot-nav a.active').removeClass('active');
                        $('.dot-nav a').eq(i).addClass('active');
                    }
                });

            } else {

                $('dot-nav').removeClass('fixed');
                $('dot-nav a.active').removeClass('active');
                $('dot-nav a:first').addClass('active');
            }

        }).scroll();
        $(".tint").hover(
            function () {
                if ($(window).width() > 960) {
                    $(this).animate({
                        width: '200px', 'background-color': 'red', 'z-index': '99'
                    });
                    $("#dNow").show();
                }
            }, function () {
                if ($(window).width() > 960) {
                    $(this).animate({
                        width: '52px', 'background-color': 'red', 'z-index': '99'
                    });
                    $("#dNow").hide();
                }
            }
        );

        $(".user-md").hover(
            function () {
                if ($(window).width() > 960) {
                    $(this).animate({
                        width: '200px', 'background-color': 'red', 'z-index': '99'
                    });
                    $("#rNow").show();
                }
            }, function () {
                if ($(window).width() > 960) {
                    $(this).animate({
                        width: '52px', 'background-color': 'red', 'z-index': '99'
                    });
                    $("#rNow").hide();
                }
            }
        );



    </script>




</body>

</html>